.head{
	background-color: #777777;
	padding-top: 20px;
	padding-bottom: 90px;
	margin-bottom: 70px;
}

.btn{
	margin-top: 50px;

}
.second_part{

	margin-bottom: 130px;

}

.btn2{
	margin-top: 20px;

}


.third_part{
		margin-bottom: 130px;
		
}

.fourth_part{
		margin-bottom: 130px;
}

.fourth_part{
		margin-bottom: 130px;
}

.btn3{
	margin-top: 20px;

}

.fifth_part{
		margin-bottom: 100px;
}

.bottom{
	
	padding-bottom: 70px;
}